{% extends "base.html" %}

{% block content %}
    <h2>顧客一覧</h2>
    {% if customers %}
        <table>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>メールアドレス</th>
                    <th>電話番号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>
                            <a href="{{ url_for('edit_customer', id=customer.id) }}">編集</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>顧客情報がありません。</p>
    {% endif %}
{% endblock %}